.filters {
  width: 100%;
  padding: 0 1%;
  margin: 1% 0;
}

.filters p {
  display: block;
  padding: 10px 0;
  float: left;
}
.filters app-dropdown {
  margin-left: 1%;
  display: block;
  float: right;
}

.clear-fix {
  clear: both;
}
