<header class="navbar">
  <a href="" class="logo">Kat's</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li>
      <a routerLink="/account"><fa-icon [icon]="faUser"></fa-icon> Account</a>
    </li>
    <li>
      <a routerLink="/wishlist"><fa-icon [icon]="faStar"></fa-icon> Wishlist</a>
    </li>
    <li>
      <a routerLink="/orders"><fa-icon [icon]="faReceipt"></fa-icon> Orders</a>
    </li>
    <li>
      <a routerLink="/cart"><fa-icon [icon]="faShoppingCart"></fa-icon> Cart</a>
    </li>
    <li>
      <a routerLink="/login"><fa-icon [icon]="faLock"></fa-icon> Login</a>
    </li>
  </ul>
</header>
