a {
  color: #696763;
}

.navbar {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 7.5%;
  width: 100%;
  z-index: 3;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.navbar li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  transition: 0.3s;
}
.navbar li a:hover,
.navbar .menu-btn:hover {
  color: #fbb72c;
}

.navbar .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.navbar .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.navbar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navbar .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 5px;
}

.navbar .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .navbar li {
    float: left;
  }
  .navbar li a {
    padding: 20px 30px;
  }
  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar .menu-icon {
    display: none;
  }
}
